# Data Cleanup and Analysis Code

In [2]:
import pandas as pd
import requests

In [3]:
# query_url = "https://api.covidtracking.com/v2/us/daily.json"
# response = requests.get(query_url).json()

# Transform

### Table 1 : 'US_Counties'

In [4]:
counties_df = pd.read_csv('Resources/US_Counties.csv')
print(counties_df)

      County_Fips             County State
0            1000            ALABAMA   NaN
1            1001     Autauga County    AL
2            1003     Baldwin County    AL
3            1005     Barbour County    AL
4            1007        Bibb County    AL
...           ...                ...   ...
3189        56037  Sweetwater County    WY
3190        56039       Teton County    WY
3191        56041       Uinta County    WY
3192        56043    Washakie County    WY
3193        56045      Weston County    WY

[3194 rows x 3 columns]

In [5]:
# drop rows where state_fips is NaN
counties_df = counties_df.dropna(how='any')

# Some states have same county names. So counties are uniquly identified by County_FIPS which is a unique ID 
# Federal Information Processing Standards
counties_df.sort_values(by='County')

      County_Fips            County State
2357        45001  Abbeville County    SC
1132        22001     Acadia Parish    LA
2867        51001   Accomack County    VA
564         16001        Ada County    ID
1011        21001      Adair County    KY
...           ...               ...   ...
113          4027       Yuma County    AZ
313          8125       Yuma County    CO
2819        48505     Zapata County    TX
2820        48507     Zavala County    TX
2469        46137    Ziebach County    SD

[3143 rows x 3 columns]

In [6]:
# Check for duplicates 
# I am checking total County_Fips vs. total unique County_Fips. 
# If they are equal, then there are no duplicates
County_Fips_List = counties_df['County_Fips']
County_Table_Count = County_Fips_List.count()
Unique_Counties_Count = County_Fips_List.nunique()
print (County_Table_Count, Unique_Counties_Count)

# County Table is normalized. No duplicates FIPS exist

3143 3143

### Table 2 : 'US_States'

In [12]:
# drop rows where state_fips is NaN
states_df =  pd.read_csv('Resources/US_States.csv')
states_df

    State_Fips Sabbr                 Sname
0            1    AL               Alabama
1            2    AK                Alaska
2            4    AZ               Arizona
3            5    AR              Arkansas
4            6    CA            California
5            8    CO              Colorado
6            9    CT           Connecticut
7           10    DE              Delaware
8           11    DC  District of Columbia
9           12    FL               Florida
10          13    GA               Georgia
11          15    HI                Hawaii
12          16    ID                 Idaho
13          17    IL              Illinois
14          18    IN               Indiana
15          19    IA                  Iowa
16          20    KS                Kansas
17          21    KY              Kentucky
18          22    LA             Louisiana
19          23    ME                 Maine
20          24    MD              Maryland
21          25    MA         Massachusetts
22          26    MI              Michigan
23          27    MN             Minnesota
24          28    MS           Mississippi
25          29    MO              Missouri
26          30    MT               Montana
27          31    NE              Nebraska
28          32    NV                Nevada
29          33    NH         New Hampshire
30          34    NJ            New Jersey
31          35    NM            New Mexico
32          36    NY              New York
33          37    NC        North Carolina
34          38    ND          North Dakota
35          39    OH                  Ohio
36          40    OK              Oklahoma
37          41    OR                Oregon
38          42    PA          Pennsylvania
39          44    RI          Rhode Island
40          45    SC        South Carolina
41          46    SD          South Dakota
42          47    TN             Tennessee
43          48    TX                 Texas
44          49    UT                  Utah
45          50    VT               Vermont
46          51    VA              Virginia
47          53    WA            Washington
48          54    WV         West Virginia
49          55    WI             Wisconsin
50          56    WY               Wyoming

In [14]:
# Check for duplicates 
# I am checking total States_Fips vs. total unique States_Fips. 
# If they are equal, then there are no duplicates
States_Fips_List = states_df['State_Fips']
States_Table_Count = States_Fips_List.count()
Unique_States_Count = States_Fips_List.nunique()
print (States_Table_Count, Unique_States_Count)

# State Table is normalized. No duplicates FIPS exist

51 51

In [21]:
# Census Data 

pop_census_df = pd.read_csv('Resources/US_Census_Data_2020.csv', encoding='latin-1')
pop_census_df.keys()

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       ...
       'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013', 'RNETMIG2014',
       'RNETMIG2015', 'RNETMIG2016', 'RNETMIG2017', 'RNETMIG2018',
       'RNETMIG2019', 'RNETMIG2020'],
      dtype='object', length=180)

In [70]:
pop_census_df_clean = pop_census_df[['STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017','POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE2020']]

In [76]:
pop_census_df_State_List= pop_census_df_clean.loc[pop_census_df_clean['COUNTY'] == 0]
pop_census_df_State_List ['STATE'].count()

51

In [48]:
counties_df = pd.read_csv('Resources/US_Counties.csv')

In [56]:
us_covid_data = pd.read_csv('Resources/US_Covid_Data.csv')
us_covid_data

             date      county    state     fips  cases  deaths
0      2021-07-07     Autauga  Alabama   1001.0   7277   113.0
1      2021-07-07     Baldwin  Alabama   1003.0  22154   316.0
2      2021-07-07     Barbour  Alabama   1005.0   2354    60.0
3      2021-07-07        Bibb  Alabama   1007.0   2699    65.0
4      2021-07-07      Blount  Alabama   1009.0   7013   139.0
...           ...         ...      ...      ...    ...     ...
97389  2021-08-05  Sweetwater  Wyoming  56037.0   5048    45.0
97390  2021-08-05       Teton  Wyoming  56039.0   3950    11.0
97391  2021-08-05       Uinta  Wyoming  56041.0   2482    14.0
97392  2021-08-05    Washakie  Wyoming  56043.0    949    26.0
97393  2021-08-05      Weston  Wyoming  56045.0    690     6.0

[97394 rows x 6 columns]

      County_Fips            County State_Fips
2357        45001  Abbeville County         SC
1132        22001     Acadia Parish         LA
2867        51001   Accomack County         VA
564         16001        Ada County         ID
1011        21001      Adair County         KY
...           ...               ...        ...
113          4027       Yuma County         AZ
313          8125       Yuma County         CO
2819        48505     Zapata County         TX
2820        48507     Zavala County         TX
2469        46137    Ziebach County         SD

[3143 rows x 3 columns]

In [65]:

us_covid_data['fips'].nunique()

3218